body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e90ff, #00bcd4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #1e90ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #187bcd;
}

.roleta-area {
    margin-top: 20px;
}

#imagemRoleta {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.girando {
    animation: vibrar 0.1s infinite;
}

.final-cat {
    transform: scale(1.05);
}

@keyframes vibrar {
    0% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}