<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Roleta dos Gatos 😼</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="container">

        <h1>🎰 Roleta dos Gatos 🎰</h1>

        <form id="formGato">
            <input type="text" id="nomeInput" placeholder="Digite seu nome">
            <button type="submit">Roletar 😹</button>
        </form>

        <div class="roleta-area">
            <img id="imagemRoleta">
            <h2 id="resultadoNome"></h2>
        </div>

    </div>

    <script src="../static/roleta.js"></script>

</body>
</html>