<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Qual gato você é???</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="container">

        <h1>Qual gato você é? 😼</h1>

        {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
        {% for msg in mensagens %}
        <div class="flash-msg">{{ msg }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- FORM NORMAL -->
        <form action="/cat" method="POST">
            <input type="text" name="nome" placeholder="Informe seu nome">
            <button type="submit">Analisar sua vida 😼</button>
        </form>

        <div class="roleta-container">
            <img id="imagemRoleta" class="imagem_gato" style="display:none;">
        </div>

        <p class="nome_gato" id="resultadoNome"></p>

        <!-- RODA A ROLETA SE TIVER IMAGENS -->
        {% if urls_imagens %}
        <script>
            window.onload = function () {
                const imagens = {{ urls_imagens | tojson | safe}};
            const nome = "{{ nome }}";

            const img = document.getElementById("imagemRoleta");
            const resultadoNome = document.getElementById("resultadoNome");

            img.style.display = "block";

            let i = -1;
            let velocidade = 80;

            function girar() {

                i++;
                img.src = imagens[i];

                if (i < imagens.length - 1) {
                    velocidade += 60;
                    setTimeout(girar, velocidade);
                }
                else {

                    img.style.transform = "scale(1)";

                    setTimeout(() => {
                        img.classList.add("final-cat");

                        // espera a animação terminar
                        setTimeout(() => {
                            resultadoNome.textContent = `${nome}, esse gato é você 😹`;
                        }, 400); // mesmo tempo do transition
                    }, 300);
                }
            }

            girar();
    };
        </script>
        {% endif %}

    </div>

</body>

</html>