<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Qual gato você é???</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="container">

        <h1>Qual gato você é? 😼</h1>

        {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
        {% for msg in mensagens %}
        <div class="flash-msg">{{ msg }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/cat" method="POST">
            <input type="text" name="nome" placeholder="Informe seu nome">
            <button type="submit">Analisar sua vida 😼</button>
        </form>

        <div class="roleta-container">
            <img id="imagemRoleta" class="imagem_gato" style="display:none;">
        </div>

        <p class="nome_gato" id="resultadoNome"></p>

        {% if urls_imagens %}
        <script>
            const IMAGENS = {{ urls_imagens | tojson | safe }};
            const NOME = "{{ nome }}";
        </script>
        {% endif %}

        <script src="../static/roleta.js"></script>

    </div>

</body>

</html>